openapi: 3.0.0

info:
  title: Eventos de notificação de webhook da interação com o WhatsApp
  description: |

    Bem-vindo à documentação detalhada dos eventos de webhook de nossa API. Este documento serve como um recurso essencial para desenvolvedores que buscam integrar nossos serviços de mensagens instantâneas com suas próprias aplicações, através da utilização de webhooks para capturar eventos em tempo real.

    Os webhooks são mecanismos poderosos que permitem que sistemas externos recebam notificações automáticas sobre eventos específicos, sem a necessidade de polling contínuo. Ao se inscrever em nossos webhooks, seu sistema será imediatamente informado sobre atividades relevantes, como sincronizações offline, emparelhamentos de dispositivos, atualizações de presença e mudanças no estado da conexão websocket.

    Nesta documentação, você encontrará uma lista abrangente de todos os eventos que nossa API pode disparar, junto com uma descrição detalhada de suas propriedades. Para cada evento, fornecemos informações sobre:

    - **Nome do Evento**: Uma identificação clara do evento, facilitando a referência e o manuseio em seu código.
    - **Descrição**: Um resumo do que o evento representa e em que circunstâncias é acionado.
    - **Propriedades**: Os detalhes e os tipos de dados de cada propriedade associada ao evento, permitindo que você entenda e utilize os dados transmitidos.
    - **Exemplos de Payload**: Exemplos práticos de como o payload do evento é estruturado, ajudando você a parsear e processar os dados recebidos.

    Seja para melhorar a reatividade de suas aplicações, automatizar fluxos de trabalho ou simplesmente para manter-se informado sobre as atividades dos usuários, nossa API de eventos de webhook é projetada para oferecer a flexibilidade e a eficiência que você precisa.

    Estamos aqui para ajudar você a aproveitar ao máximo essas integrações. Se tiver alguma dúvida ou precisar de assistência adicional, nossa equipe de suporte está pronta para ajudar.

    ---

    ### Trabalhando com `application/json` em Webhooks

    Os webhooks configurados para usar `application/json` enviam dados como se estivessem submetendo um formulário web. Isso significa que os dados são enviados em partes, cada uma contendo possivelmente diferentes tipos de conteúdo. No contexto de webhooks, isso pode ser útil para transmitir dados junto com arquivos diretamente para o seu endpoint, permitindo que você processe ambos com uma única requisição.

    ### Manipulando `application/json` em Node.js

    Para trabalhar com dados `application/json` em Node.js, especialmente ao receber esse tipo de conteúdo através de webhooks, é recomendável usar um middleware capaz de parsear esse tipo de dados. Um dos pacotes mais comuns para essa finalidade é o `multer`, que é projetado para lidar com dados `application/json` de uma forma fácil e eficiente.

    #### Passos para Utilizar o Multer

    1. **Instalação**: Primeiro, você precisa instalar o `multer` em seu projeto Node.js. Isso pode ser feito através do npm ou yarn:
      ```bash
      npm install multer
      ```
      ou
      ```bash
      yarn add multer
      ```

    2. **Configuração do Middleware**: Em seguida, importe o `multer` e configure-o como um middleware em sua aplicação. Você pode configurá-lo globalmente ou apenas para rotas específicas que esperam receber `application/json`.
      ```js
      const express = require('express');
      ```

      #### Configuração do Multer
      ```js
      const multer  = require('multer');

      const upload = multer(
        limits: {
          fieldNameSize: 100, // permitir nomes de campos com até 100 bytes
          fieldSize: 1024 * 1024 * 100, // o valor do campo pode conter até 100mb
        }
      );
      ```
      * `fieldNameSize`: 100: Esta configuração especifica o tamanho máximo em bytes para os nomes dos campos recebidos na requisição. Neste caso, você definiu um limite de 100 bytes para os nomes dos campos. Isso é útil quando você espera receber campos com nomes longos ou quando quer se proteger contra possíveis ataques de exaustão de recursos, onde nomes de campos excessivamente longos poderiam ser usados para tentar sobrecarregar o servidor.

      * `fieldSize`: 1024 * 1024 * 100: Aqui, você configurou o multer para aceitar valores de campo de até 100MB. Isso é particularmente importante para campos que contêm grandes quantidades de dados, como arquivos codificados em base64, grandes documentos de texto, etc. Aumentar esse limite permite que sua aplicação receba e processe grandes quantidades de dados em um único campo.

      ```js
      app.use(
        urlencoded({ extended: true, limit: '100mb' }),
        json({ limit: '100mb' })
      )
      ```

      * `urlencoded({ extended: true, limit: '100mb' })`: Este middleware é utilizado para parsear corpos de requisições que estão codificados em URL (normalmente submissões de formulários). O extended: true indica que o middleware é capaz de lidar com dados complexos (arrays, objetos, etc.). O limit: '100mb' aumenta o limite padrão para o tamanho do corpo da requisição, permitindo que corpos de até 100MB sejam processados. Isso é útil para aplicações que precisam receber grandes formulários ou dados codificados em URL.

      * `json({ limit: '100mb' })`: Similarmente, este middleware configura o limite para corpos de requisição formatados como JSON, também até 100MB. Isso garante que sua aplicação possa receber e processar requisições JSON volumosas, o que é comum em cenários que envolvem o envio de grandes quantidades de dados estruturados em uma única requisição, como o carregamento de grandes conjuntos de dados ou documentos.

      ```js
      const app = express();

      app.post('/your-webhook-endpoint', upload.none(), (req, res) => {
        console.log(req.body); // Demais dados enviados no corpo da requisição.
        res.status(200).send('Dados recebidos com sucesso.');
      });
      ```
    3. **Processamento dos Dados**: Quando um webhook é acionado e sua requisição chega ao endpoint configurado, o `multer` parseia automaticamente o application/json, salvando os arquivos no diretório especificado e tornando os dados dos arquivos e qualquer outro campo de texto disponíveis em req.files e req.body, respectivamente.

  version: 1.0.0
  contact:
    name: jrcleber
    url: https://github.com/code-chat-br
    email: cleber@codechat.dev
  x-logo:
    altText: codechat
    url: /images/codechat.png
  license:
    name: 'Termos e Serviços'
    url: https://cloudzapi.com

servers:
  - url: ''

x-servers:
  - url: https://apiv3.codechat.dev

paths:
  /:
    summary: ''

security: []

components:
  parameters:
    InstanceIdHeader:
      name: x-instance
      in: header
      description: Identificador da Instância.
      required: true
      schema:
        title: X-Instance
        type: string
    WhatsAppHeader:
      name: x-whatsapp
      in: header
      description: Número do dispositivo conectado.
      required: true
      schema:
        title: X-WhatsApp
        type: string
  responses:
    SuccessfulResponse:
      description: >-
        Recebeu com sucesso o estado da instância.
        O servidor reconheceu a solicitação e retornou o status 200 para indicar a recuperação bem-sucedida dos dados.
  schemas:
    WhatsApp:
      title: WhatsApp
      type: object
      required:
        - number
        - lastConnection
      properties:
        number:
          type: string
          title: Number
          description: Número do dispositivo conectado.
        lastConnection:
          type: string
          format: date-time
          title: Last Connection
          description: Data da última conexão.
    Instance:
      title: Instance
      type: object
      required:
        - instanceId
        - name
        - state
        - status
        - connection
        - createdAt
      properties:
        instanceId:
          type: string
          title: Instance ID
          description: ID da instância conectada.
        name:
          type: string
          title: name
          description: Nome da instância conectada.
        state:
          type: string
          enum:
            - active
            - inactive
          title: State
          description: >-
            Indica a condição geral da instância:
              * `active`: indica que a instância está em operação;
              * `inactive`: indica que a instância está desligada.
        status:
          type: string
          title: Status
          enum:
            - created
            - waiting
            - booting
            - available
            - deleted
          description: >-
            Fornece detalhes sobre a fase atual no ciclo de vida da instância. O **status** pode indicar uma fase transitória, condições temporárias e definitivos.;
              * `created`: a instância foi criada, mas ainda não está completamente disponível;
              * `waiting`: indica que a instância já está operacional e pronta para a conexão;
              * `booting`: a instância está no processo de conexão, preparando para se tornar disponível;
              * `available`: indica que a instância já completou todo o processo de conexão e está pronta para uso;
              * `deleted`: a instância foi desativada e deletada permanentemente.
                - A deleção só irá ocorre após o logout da conexão.
        connection:
          type: string
          title: Connection
          enum:
            - close
            - open
            - refused
          description: Representa o estado atual da conexão com o WhatsApp.
        createdAt:
          type: string
          format: date-time
          title: Created At
          description: Data da criação da instância.
        WhatsApp:
          allOf:
            - $ref: '#/components/schemas/WhatsApp'
    KeyMessage:
      title: Key Message
      type: object
      required:
        - remoteJid
        - fromMe
        - id
      properties:
        remoteJid:
          title: Remote Jid
          type: string
        fromMe:
          title: From Me
          type: boolean
        id:
          title: ID
          type: string
    AppState:
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - app.state
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          additionalProperties: true
    AppStateSyncComplete:
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - app.state:sync-complete
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          additionalProperties: true
    ArchiveChat:
      title: Archive Chat
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - archive.chat
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
          properties:
            jid:
              type: string
              title: JID
              description: Identificador do chat arquivado.
            timestamp:
              type: string
              format: date-time
              title: timestamp
            action:
              title: Action
              type: object
              required:
                - archived
                - lastMessageTimestamp
                - messages
              properties:
                archived:
                  title: archived
                  type: boolean
                lastMessageTimestamp:
                  title: Last Message Timestamp
                  type: string
                  format: date-time
                messages:
                  title: Messages
                  type: array
                  items:
                    title: Items
                    type: object
                    required:
                      - key
                      - timestamp
                    properties:
                      key:
                        allOf:
                          - $ref: '#/components/schemas/KeyMessage'
                      timestamp:
                        title: Timestamp
                        type: string
                        format: date-time
    BlockList:
      title: Block List
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - block.List
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - action
            - dHas,
            - prevDHash
            - changes
          properties:
            action:
              title: Action
              type: string
            dHas:
              title: dHas
              type: string
            prevDHash:
              title: prevDHash
              type: string
            changes:
              title: Changes
              type: array
              items:
                type: object
                required:
                  - JID
                  - action
                properties:
                  JID:
                    title: JID
                    type: string
                  action:
                    title: Action
                    type: string
                    enum:
                      - block
                      - unblock
    DataCall:
      title: Data
      type: object
      required:
        - from
        - timestamp
        - callCreator
        - callID
        - remotePlatform
        - remoteVersion
      properties:
        from:
          title: From
          type: string
          description: Destinatário da chamada
        timestamp:
          title: Timestamp
          type: string
          format: date-time
        callCreator:
          title: Call Creator
          type: string
          description: Criado da chamada
        callID:
          title: Call ID
          type: string
          description: Id da chamada
        remotePlatform:
          title: Remote Platform
          type: string
        remoteVersion:
          title: Remote version
          type: string
        data:
          type: object
          additionalProperties: true
    CallAccept:
      title: Call Accept
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.accept
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          allOf:
            - $ref: '#/components/schemas/DataCall'
    CallOffer:
      title: Call Accept
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.offer
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          allOf:
            - $ref: '#/components/schemas/DataCall'
    CallOfferNotice:
      title: Call Offer - Notice
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.offer:notice
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - from
            - timestamp
            - callCreator
            - callID
            - media
            - type
          properties:
            from:
              title: From
              type: string
              description: Destinatário da chamada
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            callCreator:
              title: Call Creator
              type: string
              description: Criado da chamada
            callID:
              title: Call ID
              type: string
              description: Id da chamada
            media:
              title: Media
              type: string
              enum:
                - audio
            type:
              title: Type
              type: string
              enum:
                - group
            data:
              type: object
              additionalProperties: true
    CallPreAccept:
      title: Call Accept
      deprecated: true
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.pre:accept
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          allOf:
            - $ref: '#/components/schemas/DataCall'
    CallRelayLatency:
      title: Call Relay - Latency
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.realy:latency
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - from
            - timestamp
            - callCreator
            - callID
          properties:
            from:
              title: From
              type: string
              description: Destinatário da chamada
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            callCreator:
              title: Call Creator
              type: string
              description: Criado da chamada
            callID:
              title: Call ID
              type: string
              description: Id da chamada
            data:
              title: Data
              type: object
              additionalProperties: true
    CallTerminate:
      title: Call Termindate
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.terminate
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - from
            - timestamp
            - callCreator
            - callID
            - reason
          properties:
            from:
              title: From
              type: string
              description: Destinatário da chamada
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            callCreator:
              title: Call Creator
              type: string
              description: Criado da chamada
            callID:
              title: Call ID
              type: string
              description: Id da chamada
            reason:
              title: Reason
              type: string
              enum:
                - timeout
    CallTransport:
      title: Call Accept
      type: object
      deprecated: true
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - call.transport
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          allOf:
            - $ref: '#/components/schemas/DataCall'
    ChatClear:
      title: Chat Clear
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - chat.clear
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - messageRange
              properties:
                messageRange:
                  title: Message Range
                  type: object
                  required:
                    - lastMessageTimestamp
                    - lastSystemMessageTimestamp
                    - messages
                  properties:
                    lastMessageTimestamp:
                      title: Last Message Timestamp
                      type: string
                      format: date-time
                    lastSystemMessageTimestamp:
                      title: Last System Message Timestamp
                      type: string
                      format: date-time
                    messages:
                      title: Messages
                      type: array
                      items:
                        title: Items
                        type: object
                        required:
                          - key
                          - timestamp
                        properties:
                          key:
                            allOf:
                              - $ref: '#/components/schemas/KeyMessage'
                          timestamp:
                            title: Timestamp
                            type: string
                            format: date-time
    ChatDelete:
      title: Chat Delete
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - chat.delete
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - messageRange
              properties:
                messageRange:
                  title: Message Range
                  type: object
                  required:
                    - messages
                    - lastSystemMessageTimestamp
                  properties:
                    lastSystemMessageTimestamp:
                      title: Last System Message Timestamp
                      type: string
                      format: date-time
                    messages:
                      title: Messages
                      type: array
                      items:
                        title: Items
                        type: object
                        required:
                          - key
                          - timestamp
                        properties:
                          key:
                            allOf:
                              - $ref: '#/components/schemas/KeyMessage'
                          timestamp:
                            title: Timestamp
                            type: string
                            format: date-time
    ChatMute:
      title: Chat Mute
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - chat.mute
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
            - fromFullSync
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - muted
              properties:
                muted:
                  title: Muted
                  type: boolean
                muteEndTimestamp:
                  title: Mute End Timestamp
                  type: integer
            fromFullSync:
              title: From Full Sync
              type: boolean
    ChatSettingArchived:
      title: Chat Settings - Archived
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - chat.settings:archived
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - timestamp
            - action
          properties:
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              properties:
                unarchiveChats:
                  title: Unarchive Chats
                  type: boolean
    ConnectionUpdate:
      title: Connection Update
      type: object
      required:
        - status
        - statusReason
        - message
        - timestamp
      properties:
        status:
          title: Status
          type: string
          enum:
            - refused
            - close
            - open
            - connecting
          description: Representa o estado atual da conexão com o WhatsApp.
        statusReason:
          title: Status Reason
          type: integer
          enum:
            - 400
            - 401
            - 402
            - 403
            - 405
            - 406
            - 409
            - 413
            - 414
            - 415
            - 500
            - 503
        message:
          title: Message
          type: string
        timestamp:
          title: Timestamp
          type: string
          format: date-time
    ClientOutdated:
      title: Client Outdated
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          enum:
            - client.outdated
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          required:
            - status
            - statusReason
            - message
            - timestamp
          properties:
            status:
              title: Status
              type: string
              default: refused
            statusReason:
              title: Status Reason
              type: integer
              default: 409
            message:
              title: Message
              type: string
              default: client user agent was rejected
            timestamp:
              title: Timestamp
              type: string
              format: date-time
    ConnectFailure:
      title: Connection Failure
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          enum:
            - connect.failure
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          allOf:
            - $ref: '#/components/schemas/ConnectionUpdate'
    Contact:
      title: Contact
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - contact.upsert
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
            - fromFullSync
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - fullName
                - lidJid
              properties:
                fullName:
                  title: Full Name
                  type: string
                lidJid:
                  title: Lid JID
                  type: string
            fromFullSync:
              title: From Full Sync
              type: boolean
    DeleteForMe:
      title: Delete For - Me
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - delete.for:me
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - chatJID
            - senderJID
            - isFromMe
            - messageID
            - action
            - timestamp
            - fromFullSync
          properties:
            chatJID:
              title: Chat Jid
              type: string
            senderJID:
              title: Sender JID
              type: string
            isFromMe:
              title: Is From Me
              type: boolean
            messageID:
              title: Message ID
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - deleteMedia
                - messageTimestamp
              properties:
                deleteMedia:
                  title: Delete Media
                  type: boolean
                messageTimestamp:
                  title: Message Timestamp
                  type: string
                  format: date-time
            fromFullSync:
              title: From Full Sync
              type: boolean
    GroupLinkChange:
      title: Group Link Changes
      type: object
      required:
        - Type
        - UnlinkReason
        - Group
      properties:
        Type:
          title: Type
          type: string
          enum:
            - parent_group
            - sub_group
            - sibling_group
        UnlinkReason:
          title: Un Link Reason
          type: string
          enum:
            - unlink_group
            - delete_parent
        Group:
          title: Group
          type: object
          required:
            - JID
            - GroupName
            - GroupIsDefaultSub
          properties:
            JID:
              title: Jid
              type: string
            GroupName:
              title: Name
              type: object
              required:
                - Name
                - NameSetAt
                - NameSetBy
              properties:
                Name:
                  title: Name
                  type: string
                NameSetAt:
                  title: Name Set At
                  type: string
                  format: date-time
                NameSetBy:
                  title: Name Set By
                  type: string
            GroupIsDefaultSub:
              title: Group Is Default Sub
              type: object
              required:
                - IsDefaultSubGroup
              properties:
                IsDefaultSubGroup:
                  title: Is Default Sub Group
                  type: string
    GroupUpdateSettings:
      title: Group Update - Settings
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - group.update:settings
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - type
            - activated
            - jid
            - notify
            - name
            - timestamp
          properties:
            jid:
              title: JID
              type: string
            notify:
              title: Notify
              type: string
            name:
              title: Name
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            settings:
              title: Settings
              type: object
              required:
                - type
                - activate
              properties:
                type:
                  title: Type
                  enum:
                    - locked
                    - announce
                    - ephemeral
                  description: >-
                    São alterações nas configurações de grupos:
                      * `locked`: Alteração de status de grupo bloqueado (somente os administradores podem editar as informações do grupo).
                      * `announce`: Alteração nas configurações no chat do grupo (somente administradores podem enviar mensagens).
                      * `ephemeral`: Alteração na configuração das mensagens de desaparecimento.
                activated:
                  title: Activated
                  type: boolean
                announceVersionID:
                  title: Announce Version ID
                  type: string
                  description: Associado ao tipo `announce`
    GroupUpdateParticipants:
      title: Group Update - Participants
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - group.update:participants
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - type
            - participants
            - jid
            - notify
            - name
            - timestamp
          properties:
            jid:
              title: JID
              type: string
            notify:
              title: Notify
              type: string
            name:
              title: Name
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            participants:
              title: Participants
              type: object
              required:
                - type
                - jids
              properties:
                type:
                  title: Type
                  type: string
                  enum:
                    - join
                    - leave
                    - promote
                    - demote
                  description: |
                    Alteração nos participantes do grupo:
                      * `join`: Usuários que ingressaram ou foram adicionados ao grupo.
                      * `leave`: Usuários que saíram ou foram removidos do grupo.
                      * `promote`: Usuários que foram promovidos a administradores.
                      * `demote`: Usuários que foram rebaixados a usuários normais.
                jids:
                  title: JIDs
                  type: array
                  items:
                    type: string
                  description: |
                    Exemplo:
                      ```json
                      [
                        "123@s.whatsapp.net",
                        "456@s.whatsapp.net",
                        "12548964587463@lid"
                      ]
                      ```
    GroupUpdate:
      title: Group Update
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - group.update
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - notify
            - sender
            - timestamp
          properties:
            jid:
              title: Jid
              type: string
              description: O ID do grupo em questão.
            notify:
              title: Notify
              type: string
              description: Parece um tipo de convite de nível superior.
            sender:
              title: Sender
              type: string
              description: O usuário que fez a alteração. Não parece estar presente quando notify=invite.
            timestamp:
              title: Timestamp
              type: string
              format: date-time
              description: O momento em que a alteração ocorreu.
            name:
              title: Name
              type: object
              description: Alteração no nome do grupo.
              required:
                - Name
                - NameSetAt
                - NameSetBy
              properties:
                Name:
                  title: Name
                  type: string
                NameSetAt:
                  title: Name Set At
                  type: string
                  format: date-time
                NameSetBy:
                  title: Name Set By
                  type: string
            topic:
              title: Topic
              type: object
              description: Alteração do tópico do grupo (descrição).
              properties:
                Topic:
                  title: Topic
                  type: string
                TopicID:
                  title: TopicID
                  type: string
                TopicSetAt:
                  title: Topic Set At
                  type: string
                  format: date-time
                TopicSetBy:
                  title: Topic Set By
                  type: string
                TopicDeleted:
                  title: Topic Deleted
                  type: boolean
            delete:
              title: Delete
              type: object
              properties:
                Deleted:
                  title: Deleted
                  type: boolean
                DeleteReason:
                  title: Delete Reason
                  type: string
            link:
              allOf:
                - $ref: '#/components/schemas/GroupLinkChange'
            unlink:
              allOf:
                - $ref: '#/components/schemas/GroupLinkChange'
            newInviteLink:
              title: New Invite Link
              type: string
              description: Alteração do link de convite do grupo.
            prevParticipantVersionID:
              title: Prev Participant Version Id
              type: string
            participantVersionID:
              title: Participant Version Id
              type: string
            joinReason:
              title: Join Reason
              type: string
              description: Será `invite` se o usuário tiver entrado por meio do link de convite.
            unknownChanges:
              title: Unknowm Changes
              type: array
              description: |
                ```json
                {
                  "Tag": "member_add_mode",
                  "Attrs": null,
                  "Content": "YWRtaW5fYWRk"
                }
                ```
              items:
                type: object
                additionalProperties: true
    Conversation:
      title: Conversation
      type: object
      required:
        - id
        - messages
      properties:
        id:
          title: ID
          type: string
          description: Chat onde as mensagens foram trocadas.
        messages:
          title: Messages
          type: array
          description: Mensagens ligadas ao `id`.
          items:
            type: object
            additionalProperties: true
    SyncConversations:
      title: Sync Type - Code **0** e **3**
      type: object
      description: >-
        Hitórico de Mensagens
          * `0`: Carregamento inicial do lote de mensagens;
          * `3`: Carregamento secundário do lote de mensagens.
          * `6`: Carregamento por demanda
      required:
        - syncType
        - conversations
      properties:
        syncType:
          title: Sync Type
          type: integer
          enum:
            - 0
            - 3
            - 6
        conversations:
          title: Conversations
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Conversation'
    SyncStatus:
      title: Sync Type - Conde **1**
      type: object
      description: Carregamento dos **Stories**.
      required:
        - syncType
        - statusV3Messages
      properties:
        syncType:
          title: Sync Type
          type: integer
          enum:
            - 1
        statusV3Messages:
          title: Status Broadcast
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Conversation'
    SyncDataNonBlockingData:
      title: Sync Type - Code **5**
      type: object
      required:
        - syncType
        - recentStickers
        - pastParticipants
      description: Carregamento de dados não bloqueados.
      properties:
        syncType:
          title: Sync Type
          type: integer
          enum:
            - 5
        recentStickers:
          title: Recent Stickers
          type: array
          items:
            type: object
            additionalProperties: true
        pastParticipants:
          title: Participantes
          type: array
          description: Carrega uma lista de grupos e seus participantes.
          items:
            type: object
            required:
              - groupJid
              - pastParticipants
            properties:
              groupJid:
                title: Group Jid
                type: string
              pastParticipants:
                title: Paricipants
                type: array
                items:
                  type: object
                  required:
                    - userJid
                    - leaveReason
                    - leaveTs
                  properties:
                    userJid:
                      title: User Jid
                      type: string
                    leaveReason:
                      title: Leave Reason
                      type: integer
                      enum:
                        - 0
                        - 1
                      description: >-
                        Indica o estado do paticipante no grupo.
                          * `0`: Incluso
                          * `1`: Removido
                    leaveTs:
                      title: Liave Timestamp
                      type: integer
    SyncPushNames:
      title: Push Name
      type: object
      required:
        - syncType
        - paushnames
      properties:
        syncType:
          title: Sync Type
          type: integer
          enum:
            - 4
        paushnames:
          title: Push Names
          type: array
          items:
            type: object
            required:
              - id
              - pushname
            properties:
              id:
                title: ID
                type: string
                description: '`123@s.whatsapp.net`'
              pushname:
                title: Push Name
                type: string
    HistorySyncConversation:
      title: History Sync - Conversation
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - history.sync
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          allOf:
            - $ref: '#/components/schemas/SyncConversations'
    HistorySyncNonBlockingData:
      title: History Sync - Non Blocking Data
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - history.sync
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          allOf:
            - $ref: '#/components/schemas/SyncDataNonBlockingData'
    HistorySyncPushName:
      title: History Sync - Push Name
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - history.sync
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          allOf:
            - $ref: '#/components/schemas/SyncPushNames'
    HistorySyncStatus:
      title: History Sync - Status
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - history.sync
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          allOf:
            - $ref: '#/components/schemas/SyncStatus'
    IdentityChange:
      title: Identity Change
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - identity.change
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - inplicit
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            implicit:
              title: Implicit
              type: boolean
    KeepAliveRestored:
      title: Keep Alive - Restored
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - keep.alive:restored
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - type
            - timestamp
          properties:
            type:
              title: Type
              type: string
              enum:
                - restored
            timestamp:
              title: Timestamp
              type: string
              format: date-time
    KeepAliveTimeout:
      title: Keep Alive - Timeout
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - keep.alive:timeout
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - type
            - timestamp
          properties:
            type:
              title: Type
              type: string
              enum:
                - timeout
            timestamp:
              title: Timestamp
              type: string
              format: date-time
    LabelAssociationChat:
      title: Label Association - Chat
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - label.association:chat
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - labeID
            - action
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            labeID:
              title: Label ID
              type: string
              description: Uma string numérica
            action:
              title: Action
              type: object
              required:
                - labeled
              properties:
                labeled:
                  title: Label Ed
                  type: boolean
            fromFullSync:
              title: From Full Sync
              type: boolean
    LabelAssociationMessage:
      title: Label Association - Message
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - label.association:chat
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - labelID
            - messageID
            - action
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            labelID:
              title: Label ID
              type: string
              description: Uma string numérica
            messageID:
              title: Message ID
              type: string
            action:
              title: Action
              type: object
              required:
                - labeled
              properties:
                labeled:
                  title: Label Ed
                  type: boolean
            fromFullSync:
              title: From Full Sync
              type: boolean
    LabelAssociationEdit:
      title: Label Association - Edit
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - label.association:chat
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - timestamp
            - labelID
            - action
          properties:
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            labelID:
              title: Label ID
              type: string
              description: Uma string numérica
            action:
              title: Action
              type: object
              required:
                - name
                - color
                - deleted
              properties:
                name:
                  title: Name
                  type: string
                color:
                  title: Color
                  type: integer
                deleted:
                  title: Deleted
                  type: boolean
            fromFullSync:
              title: From Full Sync
              type: boolean
    LogOut:
      title: Log Out
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - log.out
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - onConnect
            - reason
            - description
          properties:
            onConnect:
              title: On Connect
              type: boolean
            reason:
              title: Reason
              type: integer
              enum:
                - 401
            description:
              title: Description
              type: string
              enum:
                - logged out for unknown reason
    MarkChatRead:
      title: Mark Chat - Read
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - mark.chat:read
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
          properties:
            jid:
              title: Jid
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              type: object
              required:
                - read
                - messageRange
              properties:
                read:
                  title: Read
                  type: boolean
                messageRange:
                  title: Message Range
                  type: array
                  items:
                    type: object
                    additionalProperties: true
    MediaRetry:
      title: Media Retry
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - media.retry
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          additionalProperties: true
    MediaRetryError:
      title: Media Retry - Error
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - media.retry:error
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          additionalProperties: true
    MessageStart:
      title: Message Start
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - message.start
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - chatJID
            - senderJID
            - isfromme
            - messageID
            - timestamp
            - action
          properties:
            chatJID:
              title: Chat JID
              type: string
            senderJID:
              title: Sender JID
              type: string
            messageID:
              title: Message ID
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            action:
              title: Action
              required:
                - starred
              properties:
                starred:
                  title: Starred
                  type: boolean
            fromFullSync:
              title: From Full Sync
              type: boolean
    MessageUpdate:
      title: Messge Update
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - message.update
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - chat
            - sender
            - isFromMe
            - isGroup
            - messageids
            - timestamp
            - type
          properties:
            chat:
              title: Chat
              type: string
            sender:
              title: Sender
              type: string
            isFromMe:
              title: Is From Me
              type: boolean
            isGroup:
              title: Is Group
              type: boolean
            broadcastListOwner:
              title: Broadcast List Owner
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            type:
              title: Type
              type: string
              enum:
                - delivery-ack
                - sender
                - retry
                - read
                - read-self
                - played
                - played-self
    InfoMeta:
      title: Info Meta
      type: object
      required:
        - chat
        - sender
        - isFromme
        - isGroup
        - id
        - type
        - pushName
        - timestamp
        - mediaType
        - multicast
      properties:
        chat:
          title: Chat
          type: string
        sender:
          title: Sender
          type: string
        isFromme:
          title: Is From Me
          type: boolean
        isGroup:
          title: Is Group
          type: boolean
        broadcastlistowner:
          title: Broadcast List Owner
          type: string
        id:
          title: Id
          type: string
        serverid:
          title: Server Id
          type: integer
        type:
          title: Type
          type: string
        pushName:
          title: Push Name
          type: string
        timestamp:
          title: Timestamp
          type: string
          format: date-time
        category:
          title: Category
          type: string
        multicast:
          title: Multicast
          type: string
        mediaType:
          title: Media Type
          type: string
        edit:
          title: Edit
          type: string
        devideSentMeta:
          title: Device Sent Meta
          type: object
          additionalProperties: true
    NewMessage:
      title: New Message
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - new.message
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - info
            - message
            - isEphemeral
            - isViewOnce
            - isViewOncev2
            - isdocumentWithCaption
            - isEdit
          properties:
            info:
              allOf:
                - $ref: '#/components/schemas/InfoMeta'
            message:
              title: Content
              type: object
              required:
                - contentType
                - content
              properties:
                contentType:
                  title: Content Type
                  type: string
                content:
                  title: Content
                  type: object
                  additionalProperties: true
            isEphemeral:
              title: Is Ephemeral
              type: boolean
            isViewOnce:
              title: Is View Once
              type: boolean
            isViewOncev2:
              title: Is View Onve V2
              type: boolean
            isDocumentWithCaption:
              title: Is Document With Caption
              type: boolean
            isEdit:
              title: Is Edit
              type: boolean
            sourceWebMsg:
              title: Source Web Msg
              type: object
              additionalProperties: true
            unavailAblerequestID:
              title: Unavailable Request ID
              type: string
            retrycount:
              title: Retry Count
              type: integer
    OfflineSyncCompleted:
      title: Offi Line Sync - Completed
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - offline.sync:completed
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - count
          properties:
            count:
              title: Count
              type: integer
    OfflineSyncPreview:
      title: Offi Line Sync - Preview
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - offline.sync:preview
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - total
            - appDataChanges
            - messages
            - receipts
          properties:
            total:
              title: Count
              type: integer
            appDataChanges:
              title: App Data Changes
              type: integer
            notifications:
              title: Notifications
              type: integer
            receipts:
              title: Receipts
              type: integer
    DeviceParing:
      title: Pair Error
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - device.paring
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - type
            - id
          properties:
            type:
              title: Type
              type: string
              enum:
                - success
                - error
              description: |
                Tipos de emparelhamento:
                  * `success`: Indica que o emparelhamento foi concluído com êxito. Este estado é alcançado após a leitura correta do código QR pelo telefone e a conclusão bem-sucedida do handshake entre os dispositivos. Um emparelhamento bem-sucedido estabelece uma conexão segura e autorizada, permitindo a comunicação futura entre os dispositivos.
                  * `error`: Significa que ocorreu um problema durante o processo de emparelhamento, impedindo a conclusão bem-sucedida da conexão. Esse estado pode ser resultado de vários fatores, como problemas de conectividade, erros de leitura do código QR, falhas na autenticação ou outros problemas técnicos. A presença de um erro exige uma investigação adicional para identificar e resolver a causa subjacente, possibilitando novas tentativas de emparelhamento.
            id:
              title: ID
              type: string
            businessName:
              title: Business Name
              type: string
            platform:
              title: Platform
              type: string
            error:
              title: Error
              type: string
    PresenceUpdate:
      title: Presence Update
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - presence.update
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - from
            - unavailable
            - lastSeen
          properties:
            from:
              title: From
              type: string
              description: Identificador do usuário cuja presença foi atualizada, geralmente no formato `123@s.whatsapp.net`.
            unavailable:
              title: Unavailable
              type: boolean
              description: Um valor booleano que indica se o usuário está offline (`true`) ou não. Se `false`, presume-se que o usuário esteja online.
            lastSeen:
              title: Last Seen
              type: string
              format: date-time
              description: A data e hora da última vez que o usuário esteve online. Este valor pode estar ausente ou ser zero se o usuário optou por ocultar suas informações de "visto pela última vez" nas configurações de privacidade.
    PrivacySettings:
      title: Privacy Settings
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - privacy.settings
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Date
          type: object
          required:
            - type
            - activated
          properties:
            type:
              title: Type
              type: string
              enum:
                - groupAddChanged
                - lastSeenChanged
                - statusChanged
                - profileChanged
                - readReceiptsChanged
                - onlineChanged
                - callAddChanged
            activated:
              title: Activated
              type: boolean
    ProfilePicture:
      title: Profile Picture
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - profile.picture
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - author
            - timestamp
            - remove
            - pictureID
            - pictureInfo
          properties:
            jid:
              title: Jid
              type: string
            author:
              title: Author
              type: string
            pictureID:
              title: Picture ID
              type: string
            timestamp:
              title: Timestamp
              type: string
              format: date-time
            remove:
              title: Remove
              type: boolean
            pictureInfo:
              title: Piciture Info
              type: object
              required:
                - url
                - id
                - type
              properties:
                url:
                  title: URL
                  type: string
                id:
                  title: ID
                  type: string
                type:
                  title: Type
                  type: string
                direct_path:
                  title: Direct Path
                  type: string
    ProfilePushName:
      title: Profile Push Name
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - profile.pushName
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - oldPushName
            - newPushName
            - messageID
          properties:
            jid:
              title: JID
              type: string
            oldPushName:
              title: Old Push Name
              type: string
            newPushName:
              title: New Push Name
              type: string
            messageID:
              title: Message ID
              type: string
    ProfilePushNameBusiness:
      title: Profile Push Name - Business
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - profile.pushName
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - oldBusinessName
            - newBusinessName
            - messageID
          properties:
            jid:
              title: JID
              type: string
            oldBusinessName:
              title: Old Push Name
              type: string
            newBusinessName:
              title: New Push Name
              type: string
            messageID:
              title: Message ID
              type: string
    ProfilePushNameSelf:
      title: Profile Push Name -Self
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - profile.pushName
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - timestamp
            - action
          properties:
            timestamp:
              title: Timestamp
              type: string
            action:
              title: Action
              type: object
              required:
                - name
              properties:
                name:
                  title: Name
                  type: string
            fromFullSync:
              title: From Full Sync
              type: boolean
    PinnedChat:
      title: Pinned Chat
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - pinned.chat
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - jid
            - timestamp
            - action
          properties:
            jid:
              title: JID
              type: string
            timestamp:
              title: Timestamp
              type: string
            action:
              title: Action
              type: object
              required:
                - pinned
              properties:
                pinned:
                  title: Pinned
                  type: boolean
            fromFullSync:
              title: From Full Sync
              type: boolean
    QrCodeUpdate:
      title: QrCode Update
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - qrcode.update
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - code
            - base64
            - connection
          properties:
            code:
              title: Code
              type: string
            base64:
              title: Base64
              type: string
            connection:
              title: Connection
              type: string
              enum:
                - connecting
    ConnectionStream:
      title: Stream Error
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - connection.stream
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - code
            - type
          properties:
            type:
              title: Type
              type: string
              enum:
                - error
                - replaced
            code:
              title: Code
              type: string
            info:
              title: Info
              type: object
              additionalProperties: true
    TemporaryBan:
      title: Temporary Ban
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - temporary.ban
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - code
            - expire
            - message
          properties:
            code:
              title: Code
              type: integer
              enum:
                - 402
            expire:
              title: Expire
              type: string
              format: date-time
            message:
              title: Message
              type: string
    UndecryptableMessage:
      title: Undecryptable Messagae
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - undecryptable.message
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - info
            - isUnavailable
            - decryptFailMode
          properties:
            info:
              allOf:
                - $ref: '#/components/schemas/InfoMeta'
            isUnavailable:
              title: Is Unavailable
              type: boolean
            decryptFailMode:
              title: Decrypt Fail Mode
              type: string
    UnknownCall:
      title: Unknowm Call
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - unknown.call
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - node
          properties:
            node:
              title: Node
              type: object
              additionalProperties: true
    WhatsAppConnected:
      title: WhatsApp Connected
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - whatsapp.connected
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - status
            - statusReason
            - message
            - timestamp
          properties:
            status:
              title: Status
              type: string
              enum:
                - open
            statusReason:
              title: Status Reason
              type: integer
              enum:
                - 200
            message:
              title: Message
              type: string
              enum:
                - connected successfully
            timestamp:
              title: Timestamp
              type: string
              format: date-time
    WebsocketDisconnected:
      title: Websocket Disconnected
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - whatsapp.connected
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - status
            - statusReason
            - message
            - timestamp
          properties:
            status:
              title: Status
              type: string
              enum:
                - open
                - close
            statusReason:
              title: Status Reason
              type: integer
            timestamp:
              title: Timestamp
              type: string
              format: date-time
    SendMessage:
      title: Send Message
      type: object
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Event
          type: string
          enum:
            - send.message
        instance:
          allOf:
            - $ref: '#/components/schemas/Instance'
        data:
          title: Data
          type: object
          required:
            - sent
            - message
            - error
          properties:
            sent:
              title: Sent
              type: object
              required:
                - messageID
                - timestamp
              properties:
                messageID:
                  title: Message ID
                  type: string
                timestamp:
                  title: Timestamp
                  type: string
                  format: date-time
                message:
                  title: Message
                  type: object
                  properties:
                    contentType:
                      title: Content Type
                      type: string
                    content:
                      title: Content
                      type: object
                      additionalProperties: true
            error:
              title: Error
              type: object
              required:
                - isError
              properties:
                isError:
                  title: IsError
                  type: boolean
                description:
                  title: Description
                  type: string
    ApplicationStatus:
      title: Estado da Aplicação
      type: object
      description: >
        Define o esquema para o estado da aplicação, contendo informações sobre o evento disparado,
        a instância da aplicação afetada e os dados relevantes ao estado atual.
      required:
        - event
        - instance
        - data
      properties:
        event:
          title: Evento
          description: Tipo do evento, neste caso, uma alteração de estado da aplicação.
          type: string
          enum:
            - application.status
        instance:
          title: Instância
          description: >
            Identifica a instância da aplicação afetada pela alteração de estado, incluindo um
            identificador único e o nome da instância para fácil referência.
          type: object
          required:
            - instanceId
            - name
          properties:
            instanceId:
              title: ID da Instância
              description: Identificador único da instância da aplicação.
              type: string
            name:
              title: Nome
              description: Nome legível da instância da aplicação.
              type: string
        data:
          title: Dados
          description: >
            Contém detalhes específicos sobre o estado atual da aplicação, incluindo se
            está ativa ('on') ou inativa ('off').
          type: object
          required:
            - status
          properties:
            status:
              title: Status
              description: Indica o estado atual da aplicação, podendo estar 'on' (ativa) ou 'off' (inativa).
              type: string
              enum:
                - on
                - off
              default: on

tags:
  - name: Alterações
  - name: Banimento
  - name: Chamada
    description: |
      A implementação de lógicas apropriadas para responder a estes eventos de forma a maximizar a eficiência da comunicação e a satisfação do usuário durante as chamadas via WhatsApp.
  - name: Chat
  - name: Conexão
  - name: Contato
  - name: Dispositivo
  - name: Estado do App
    description: |
      Desenvolvedores devem considerar a implementação de tratamentos específicos para estes eventos a fim de atualizar a interface do usuário de maneira apropriada, refletindo as mudanças de estado de notificações de bate-papo em tempo real. Isso é crucial para manter a sincronia entre dispositivos e garantir uma experiência de usuário coesa e intuitiva.
  - name: Falha na Conexão
    description: |
      Desenvolvedores devem implementar mecanismos de tratamento para este evento, como tentativas de reconexão com políticas de backoff exponencial, notificações ao usuário sobre problemas de conectividade, ou registros de erro para diagnóstico. A gestão adequada deste evento é crucial para assegurar a resiliência e a confiabilidade da aplicação em cenários de interrupções de conexão.
  - name: Grupo
  - name: Label Associado
  - name: Mensagem
  - name: Manter Online
  - name: Perfil
  - name: Sincronização
  - name: Sincronização Histórica
  - name: Tentativa de Mídia
  # - name: instance
  #   x-displayName: Instance
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/Instance" />
  # - name: whatsapp
  #   x-displayName: Whatsapp
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/WhatsApp" />
  # - name: keyMessage
  #   x-displayName: KeyMessage
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/KeyMessage" />
  # - name: appState
  #   x-displayName: AppState
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/AppState" />
  # - name: appStateSyncComplete
  #   x-displayName: AppStateSyncComplete
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/AppStateSyncComplete" />
  # - name: archivrChat
  #   x-displayName: ArchiveChat
  #   description: |
  #     <SchemaDefinition schemaRef="#/components/schemas/ArchiveChat" />

x-tagGroups:
  - name: Comunicação e Mensagens
    tags:
      - Chamada
      - Chat
      - Mensagem
      - Grupo
  - name: Gerenciamento de Usuário e Dispositivo
    tags:
      - Contato
      - Dispositivo
      - Perfil
  - name: Conectividade e Sincronização
    tags:
      - Conexão
      - Falha na Conexão
      - Sincronização
      - Sincronização Histórica
  - name: Eventos e Notificações
    tags:
      - Estado do App
      - Alterações
      - Banimento
      - Label associado
  - name: Suporte e Diagnóstico
    tags:
      - Manter Online
      - Tentativa de Mídia
  # - name: Modelos
  #   tags:
  #     - whatsapp
  #     - instance
  #     - keyMessage

x-webhooks:
  application_status:
    post:
      operationId: applicationStatus
      summary: Estado da Aaplicação
      description: |
        ### `application.status`

        Este webhook é disparado para notificar sobre alterações no estado da aplicação, permitindo aos sistemas externos reagir de acordo. Isso é útil para monitoramento em tempo real e gestão de recursos, garantindo que as dependências estejam cientes do estado atual da aplicação e possam tomar ações apropriadas, como escalonar recursos ou enviar notificações para administradores.
      tags:
        - Estado do App
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplicationStatus'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  app_state:
    post:
      operationId: appState
      summary: Estado do App
      description: |
        ### `app.state`

        Este evento é acionado quando novos dados são recebidos como parte da sincronização do estado do aplicativo. Ele fornece informações detalhadas sobre as mudanças específicas que ocorreram no estado do aplicativo, como atualizações de contato ou configurações de mudo de chat.

        Embora este evento ofereça dados detalhados, é recomendável utilizar eventos de nível superior que sejam mais específicos às ações do usuário ou às mudanças no aplicativo, como `contacts.upsert` para inserções ou atualizações de contatos, e `chat.mute` para alterações nas configurações de mudo de um chat.

        Exemplos de dados de evento:

        - Quando um usuário é colocado em mudo:
          ```json
          {
            "event": "app.state",
            "instance": "...",
            "data": {
              "index": [
                "userStatusMute",
                "123@s.whatsapp.net"
              ],
              "timestamp": 1707487985077,
              "userstatusmuteaction": {
                "muted": true
              }
            }
          }
          ```

          Neste exemplo, `userStatusMute` indica que a ação se refere ao mudo de status do usuário `123@s.whatsapp.net`, com o `timestamp` representando o momento da ação. O campo `userstatusmuteaction` confirma que o usuário foi colocado em mudo.

        - Quando um contato é atualizado:
          ```json
          {
            "event": "app.state",
            "instance": "...",
            "data": {
              "index": [
                "contact",
                "123@s.whatsapp.net"
              ],
              "timestamp": 1708974396278,
              "contactaction": {
                "fullName": "Lora",
                "lidJid": "456789@lid"
              }
            }
          }
          ```

          Aqui, `contact` indica que a atualização se refere a um contato, especificamente `123@s.whatsapp.net`. O `timestamp` fornece o momento da atualização, e `contactaction` detalha as mudanças no contato, como o nome completo sendo atualizado para "Lora".

          Esses exemplos ilustram como os dados do evento `app.state` podem ser usados para entender as mudanças específicas no estado do aplicativo. No entanto, para a maioria das aplicações, eventos de nível superior fornecerão uma interface mais simples e direta para responder a mudanças no estado do aplicativo.
      tags:
        - Estado do App
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppState'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  app_state_sync_complete:
    post:
      operationId: appState-syncComplete
      summary: Estado do App - Sincronização completa
      description: |
        ### `app.state:sync-complete`

        Este evento é acionado durante o processo de ressincronização do estado do aplicativo, indicando que o aplicativo está atualizando seu estado local para refletir as mudanças mais recentes no servidor ou na nuvem. A ressincronização pode ocorrer por vários motivos, como a reconexão após uma desconexão de rede, a sincronização inicial ao iniciar o aplicativo, ou como resultado de uma solicitação explícita para atualizar os dados.

        O evento de ressincronização é um indicativo importante de que o aplicativo está em processo de atualização de suas informações internas, o que pode incluir contatos, conversas, configurações de usuário, e outros dados relevantes para a operação do aplicativo. Durante esse processo, o aplicativo pode temporariamente apresentar informações desatualizadas até que a sincronização seja concluída.

        Desenvolvedores podem utilizar este evento para implementar lógicas específicas, como exibir indicadores de carregamento para o usuário ou preparar o aplicativo para processar e exibir os novos dados assim que estiverem disponíveis. É uma prática recomendada garantir que o aplicativo possa lidar com esses eventos de forma suave, mantendo a experiência do usuário consistente e responsiva.

      tags:
        - Estado do App
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppStateSyncComplete'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  archive_chat:
    post:
      operationId: archiveChat
      summary: Arquivamento
      description: |
        ### `archive.chat`

        Este evento é acionado sempre que um bate-papo é arquivado ou desarquivado em outro dispositivo que está sincronizado com a mesma conta. Isso permite que os aplicativos mantenham a sincronização do estado de arquivamento dos bate-papos entre múltiplos dispositivos, garantindo uma experiência de usuário consistente.

        O arquivamento de um bate-papo remove-o da lista principal de bate-papos até que uma nova mensagem seja recebida, enquanto o desarquivamento retorna o bate-papo para a lista principal. Este evento é útil para atualizar a interface do usuário em tempo real, refletindo as alterações feitas em outros dispositivos.
      tags:
        - Chat
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ArchiveChat'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  block_list:
    post:
      operationId: blockList
      summary: Lista de Bloqueio
      description: |
        ### `block.list`

        Este evento é acionado sempre que há uma mudança na lista de usuários bloqueados do usuário. Isso inclui tanto o ato de bloquear um novo usuário quanto o de desbloquear um usuário previamente bloqueado. A alteração na lista de usuários bloqueados pode afetar a forma como as mensagens são recebidas e enviadas, as notificações são exibidas e como os usuários interagem entre si dentro do aplicativo.

        A atualização da lista de usuários bloqueados é fundamental para manter a privacidade e a segurança do usuário, garantindo que as restrições impostas a certos usuários sejam efetivamente aplicadas em todas as instâncias do aplicativo. Os desenvolvedores podem utilizar este evento para acionar atualizações na interface do usuário, reforçar políticas de privacidade ou desencadear outras ações necessárias em resposta a alterações na lista de bloqueios.
      tags:
        - Chat
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BlockList'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  call_accept:
    post:
      operationId: callAccept
      summary: Aceita
      description: |
        ### `call.accept`

        Este evento é acionado no exato momento em que uma chamada feita através do WhatsApp é aceita pelo destinatário. Ele serve como uma notificação imediata que informa tanto o sistema quanto o usuário que a conexão de chamada foi estabelecida com sucesso, permitindo que a comunicação de voz ou vídeo prossiga.

        A captura deste evento é crucial para aplicativos que necessitam iniciar ou preparar recursos assim que a chamada é aceita, como habilitar gravações, ativar indicadores de status de chamada em tempo real ou mesmo para análises de dados de uso de chamadas. Além disso, pode ser utilizado para melhorar a experiência do usuário, fornecendo feedback visual ou auditivo que confirme o estabelecimento da chamada.
      tags:
        - Chamada
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallAccept'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  call_offer:
    post:
      operationId: callOffer
      summary: Recebida
      description: |
        ### `call.accept`

        Este evento é acionado quando o usuário recebe uma chamada entrante através do WhatsApp. Ele fornece uma notificação em tempo real sobre chamadas recebidas, permitindo que o aplicativo responda adequadamente, seja atualizando a interface do usuário, registrando o evento para fins de análise ou desencadeando notificações personalizadas.

        Ao receber esse evento, o aplicativo pode exibir informações sobre a chamada, como o identificador do chamador e o horário da chamada, melhorando a experiência do usuário ao fornecer contexto imediato sobre a chamada recebida. Além disso, esse evento pode ser utilizado para integrar funcionalidades de registro de chamadas ou para ativar processos de negócios específicos relacionados a chamadas recebidas no WhatsApp.
      tags:
        - Chamada
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallOffer'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  call_offer_notice:
    post:
      operationId: callOffer-notice
      summary: Recebida em grupos
      description: |
        ### `call.offer:notice`

        Este evento é especificamente acionado quando o usuário recebe uma notificação de uma chamada no WhatsApp, sendo particularmente relevante para chamadas em grupo. Diferentemente do evento `call.offer`, que é utilizado para chamadas individuais (1:1), este evento sinaliza que o usuário foi convidado a participar de uma chamada em grupo.

        A emissão deste evento permite que aplicativos notifiquem os usuários de maneira eficaz sobre chamadas em grupo entrantes, possibilitando uma ação rápida, seja para se juntar à chamada ou para sinalizar a indisponibilidade. Este evento pode ser utilizado para atualizar a interface do usuário com detalhes da chamada em grupo, incluindo informações sobre os participantes, ou para registrar a ocorrência da chamada para análises futuras.
      tags:
        - Chamada
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallOfferNotice'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  call_relay_latency:
    post:
      operationId: callRealy-latency
      summary: Entrante
      description: |
        ### `call.realy:latency`

        Este evento é emitido imediatamente após o usuário receber uma chamada no WhatsApp. Ele está associado ao som de alerta que é tocado para indicar a presença de uma chamada entrante. Esse evento serve como uma notificação inicial para alertar o usuário e o aplicativo sobre uma chamada recebida, permitindo que ações apropriadas sejam tomadas em resposta, como exibir uma interface de chamada ou registrar o evento para análises futuras.

        O reconhecimento deste evento pode ser crucial para aplicativos que necessitam de uma resposta imediata às chamadas entrantes, possibilitando uma experiência de usuário mais interativa e responsiva. Além disso, pode ser usado para ativar funcionalidades específicas do aplicativo, como gravação de chamadas ou estatísticas de chamadas recebidas.
      tags:
        - Chamada
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallRelayLatency'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  call_terminate:
    post:
      operationId: callTerminate
      summary: Terminada
      description: |
        ### `call.terminate`

        Este evento é acionado no momento em que a outra parte encerra uma chamada no WhatsApp. Ele serve como um indicador imediato do término da chamada, permitindo que o aplicativo atualize a interface do usuário para refletir o fim da comunicação e execute quaisquer ações de encerramento necessárias, como salvar detalhes da chamada, liberar recursos de mídia ou notificar o usuário sobre o término da chamada.

        O tratamento adequado desse evento é crucial para garantir uma experiência de usuário fluida e para manter registros precisos de atividades de chamadas dentro do aplicativo. Também pode ser usado para acionar análises pós-chamada, como a coleta de feedback do usuário ou a análise da qualidade da chamada, contribuindo para a melhoria contínua dos serviços oferecidos.
      tags:
        - Chamada
      parameters:
        - $ref: '#/components/parameters/InstanceIdHeader'
        - $ref: '#/components/parameters/WhatsAppHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CallTerminate'
      responses:
        '200':
          $ref: '#/components/responses/SuccessfulResponse'

  chat_clear:
    post:
      operationId: chatClear
      summary: Limpo
      description: |
        ### `chat.clear`

        Este evento é acionado especificamente quando um bate-papo é apagado em outro dispositivo que está sincronizado com a mesma conta do usuário. Este evento é distinto de `chat.delete`, que se refere à ação de deletar um bate-papo diretamente no dispositivo do usuário. O propósito deste evento é informar o aplicativo sobre alterações no estado dos bate-papos que ocorrem em dispositivos vinculados, permitindo uma sincronização eficaz e uma experiência de usuário consistente em todos os dispositivos.

[...]
